<div *ngIf="request">
    <h2>Details</h2>
    <div><span>id: </span>{{request.id}}</div>
    <div>
        <label>Passenger:
          <span>
              {{request.passenger}}
          </span>
        </label>
      </div>
    <div>
      <label>Destination:
        <span>
            {{request.destination}}
        </span>
      </label>
    </div>
    <div>
        <label>Status:
          <span>
              {{request.status}}
          </span>
        </label>
    </div>
    <button (click)="reserve()">Reserve</button>
</div>