
<div *ngIf="request" class="row justify-content-center">
    <div class="col-8">
        <h3>Create a new Request</h3>
        <form role="form" novalidate (ngSubmit)="save()" #requestForm="ngForm">
            <div>
                <div class="form-group">
                    <label class="form-control-label" for="passenger">Passenger:</label>
                    <input [(ngModel)]="request.passenger"
                        type="text"
                        class="form-control"
                        placeholder="Passenger"
                        name="passenger"
                        id="passenger"
                        #passenger="ngModel"
                        required/>
                    <div [hidden]="passenger.valid || passenger.pristine" class="alert alert-danger">
                        Passenger is required
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="destination">Destination:</label>
                    <input [(ngModel)]="request.destination" type="text" class="form-control"
                        placeholder="Destination" name="destination" id="destination"
                        #destination="ngModel"
                        required/>
                    <div [hidden]="destination.valid || destination.pristine" class="alert alert-danger">
                        Destination is required
                    </div>
                </div>
                <button type="button"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>
                <button type="submit"
                    class="btn btn-success"
                    [disabled]="!requestForm.form.valid">
                    Save
                </button>

            </div>
            
        </form>
    </div>
</div>
